{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'imagens/logo-space-games.ico' %}" rel="icon">
    <title>Marvel - Cadastro</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700">
    <link rel="stylesheet" href="{% static 'css/estilo.css' %}">
    
</head>
<body style="background: url({% static 'imagens/Marvel-HQ.jpg' %}) center center / cover no-repeat fixed;">

    <div class="login-container">
        <form action="." class="form-login" method="POST"> {% csrf_token %}
            <ul class="login-nav">
                <li class="login-nav_item ">
                    <a href="{% url 'herois:login' %}">Login</a>
                </li>

                <li class="login-nav_item active">
                    <a href="{% url 'herois:cadastro' %}">Registre-se</a>
                </li>
            </ul>

            <label for="login-input-user" class="login_label">Usuário</label>
            <input type="text" id="login-input-user" class="login_input" name="username">

            <label for="email" class="login_label">Email</label>
            <input type="email" id="email" class="login_input" name="email">

            <label for="login-input-password" class="login_label">Senha</label>
            <input type="password" id="login-input-password" class="login_input" name="password">

            <label for="conf-password" class="login_label">Confirmar Senha</label>
            <input type="password" id="conf-password" class="login_input" name="conf-password">

            <ul>
                {% for message in messages %}
                <li style="color:red; font-size: 18px;">{{ message }}</li>
                {% endfor %}
            </ul>

            <label for="login-sing-up" class="login_label--checkbox">
                <input type="hidden" class="login_input--checkbox" id="login-sing-up" >
            </label>

            <button type="submit" class="login_submit" style="color:black;">Cadastrar</button>
        </form>
       
    </div><!--login-container-->
</body>
</html>